* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}


.navbar {
  background-color: #007AE9;
  display: flex;
  justify-content: flex-end;
}

.navbar--header {
  padding: 1.5em 1em;
  font-size: 1.25rem;
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Roboto', sans-serif; */
}