* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  /* box-sizing: border-box; */
}


.navbar {
  background-color: #007AE9;
  display: flex;
  justify-content: flex-end;
}

.navbar--header {
  padding: 1.5em 1em;
  font-size: 1.25rem;
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Roboto', sans-serif; */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: #85a8c5;
}


.carousel {
  overflow: hidden;
  width: 550px;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.05);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  background-color: #fff;
  border-radius: 3px;
}

.carousel-img {
  max-width: 310px;
  height: 65%;
  margin: 0 0.2em 0 0.2em;
  border-radius: 15px;

}

.carousel-item-text {
  font-size: 0.75rem;
  margin: 40px 0 40px 0;
  padding: 0 5px 0 5px;
  white-space: normal;
  /* color: #617d98; */
  max-width: 250px;
  
}

.carousel-button1 {
  margin-right: 220px;
  margin-left: 50px;
}

.carousel-button1,
.carousel-button2 {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  border-radius: 10px;
}

.material-symbols-outlined {
  font-size: 1.1rem;
  color: grey;

}
